 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>자격증</h2>
      <p>한국산업인력공단 : 전자캐드기능사 (2022.12.09)</p>
    </div>
    <div class="tech">
      <h2>프로그래밍 언어</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Python, C</p>
    </div>
    <div class="tech">
      <h2>기술 및 도구</h2>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-opencv-plain-wordmark colored"></i>
      <i class="devicon-raspberrypi-plain colored"></i>
      <p>Raspberry Pi, OpenCV, Ubuntu, WinAPI</p>
    </div>
</div>
